.HeaderMainDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10%;
}

.HeaderTabs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.HeaderTab{
    margin: 15px;
}