.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, rgb(4, 244, 192), #CCCCCC);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto;
}

.MainLabel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SocialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.SocialMediaBlock{
    padding-left: 10px;
    padding-right: 10px;
}

.footerLogo{
    height: 100px;
    width: 100px;
}

.SocialMediaBlock a {color:#3b5998;}