.appMainDiv{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.appRoutes{
    min-height: 100%;
}

.appFooter{
    height: 100px;
    width: 100%;
    background: #686868;
}

