.appMainDiv{
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: space-between;
}

.appFooter{
    width: 100%;
    background: #686868;
 }

.appRoutes{
    flex-grow: 1;
}