.WeatherAppCardBack__MainDiv{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    background: #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    margin: 1rem;
    position: relative;
    width: 300px;
}
.WeatherAppCardBack__MainDiv__Header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.WeatherAppCardBack__MainDiv__Header__CityName{
    font-size: 34px;
}

.WeatherAppCardBack__MainDiv__Body{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

.WeatherAppCardBack__MainDiv__Body__Temp{
    transition: width 100ms ease-in-out;
    font-size: 64px;
}

.WeatherAppCardBack__MainDiv__Body__IconDescTag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.WeatherAppCardBack__MainDiv__Footer{
        align-self: center;
        border-top: solid black 3px;
    }